@media (max-width: 480px) {
  .top-section {
    float: none;
  }
  
  .top-section ul li {
    display: inline-block;
    height: 63px;
    width: 42px;
    padding: 13px 10px 10px 15px;
    text-align: center;
  }

  .top-section ul li:hover {
    background-color: #085A78;
  }

  .welcome-text {
    text-align: center;
    margin: 50% 0px; 
  }
  
  .welcome-text p {
    font-size: 1.8rem;
  }

  p.welcome-title {
    font-size: 2.3rem;
  }

  p.title-1 {
    font-size: 2.5rem;
  }

  p.title-2 {
    font-size: 2.5rem;
  }
  
  p.project-title {
    font-size: 1.5rem;
    text-decoration: underline;
  }
}

@media (min-width: 481px ) AND (max-width: 640px) {
  #top {
    background-image: url(../img/apple-laptopD 640.gif);
  }

  .top-section {
    float: none;
  }

  .welcome-text {
    text-align: center;
    margin: 36% 0;
  }
  
  .welcome-text p {
    font-size: 2.1rem;
  }

  p.welcome-title {
    font-size: 2.4rem;
  }

  p.title-1 {
    font-size: 2.5rem;
  }

  p.title-2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 40.0625em) {
  .icon-technologies {
    padding: 0 30px;
  }

  #top {
    height: 77vh;
  }

  .welcome-text {
    text-align: center;
  }

  .welcome-text p {
    font-size: 2.6rem;
  }

  p.welcome-title {
    font-size: 3.0rem;
  }
}

@media(max-width: 667px) and (orientation: landscape) {
  .welcome-text {
    text-align: center;
    margin: 15% 0;
  }
  
  .welcome-text p {
    font-size: 1.7rem;
  }

  p.welcome-title {
    font-size: 1.9rem;
  }
}