body {
  color: white;
}

.bg-1 {
  background-color: lightgreen;
}

.bg-2 {
  background-color: red;
}

#bottom {
  height: 200px;
  background-color: #333333;
}

hr{
  border: solid #333333;
  border-width: 1px;
}

.icon {
  text-align: center;
  padding: 0 36px;
  margin: 3rem 0rem;
  color: #333333;
}

.icon p {
  font-size: 1.3rem;
}

.icon img {
  margin-bottom: 10px;
}

.logo {

}

#middle {
  background-color: #FFFFFF;
}

#middle hr {
  margin: 0rem 0rem 0.7rem 0rem;
}

#outer-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

p.title-1 {
  color: #333333;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 4rem;
}

p.title-2 {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 4rem;
}

p.project-title {
  font-size: 1.7rem;
  text-decoration: underline;
}

p.welcome-title {
  font-size: 1.7rem;
}

.project {
  margin: 4rem 0rem 1rem 0rem;
}

.project img {
  width: 500px;
  height: 280px;
  margin-bottom: 10px;
}

#projects {
  background-color: #085A78;
}

#projects hr{
  border: solid #FFFFFF;
  border-width: 1px;
}

span.logo1 {
  color: #FFFFFF;
  font-size: 2.6rem;
}

span.logo2 {
  color: #FFFFFF;
  font-size: 1rem;
  position: absolute;
  top: 11px;
  margin-left: 8px;
}

span.logo3 {
  color: #FFFFFF;
  font-size: 1rem;
  position: absolute;
  top: 29px;
  margin-left: 8px;
}

#title-row {
  background-color: #085A78;
  color: white;
  font-size: 250%;
}

#title-row img {
  margin: 0.4rem 0rem;
}

.top-section ul {
  list-style-type: none;
  margin: 0 !important;
}

.top-section ul li {
  display: inline-block;
  height: 63px;
  width: 71px;
  padding: 13px 10px 10px 15px;
  text-align: center;
}

.top-section ul li:hover {
  background-color: #3D8DAB
}

.top-section ul li a {
  color: white;
}

#top {
  height: 446px;
  background-color: #074E68;
  background-image: url(../img/apple-laptop.jpg);
  padding-top: 8%;
}

ul.welcome-list {
  list-style: none;
}

ul.welcome-list li{
  display: inline-block;
  width: 23%;
  text-align: center;
}

ul.welcome-list p {
  font-size: 1.3rem;
}

.welcome {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
  background: rgba(0, 0, 0, 0.5);
}

.welcome p {
  font-size: 2rem;
}